@import url("./fonts.css");

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

html {
  height: 100%;
}

body {
  font-family: "Comfortaa-Regular", sans-serif;
  margin: 0;
  padding: 0;
  color: #ddd0bd;
  height: 100%;
  position: relative;
}

h1,
.auth-header h2 {
  font-size: 56px;
  margin-bottom: 30px;
  color: #aac5d8;
  line-height: 1.4;
  font-weight: 100;
  -webkit-text-stroke: 1px #d3aa58;
  filter: drop-shadow(1px 1px 0 #d3aa58);
  font-family: "Comfortaa-SemiBold";
  font-weight: 600;
}

.logo {
  margin: 0 auto;
  max-width: 380px;
  width: 100%;
  height: auto;
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
