@import url("./fonts.css");

/* Стили для видео фона */
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

/* Основные стили */
html {
  height: 100%;
}

body {
  padding-top: 700px; /* Подбирайте значение под высоту вашего h2 */
  font-family: "Comfortaa-Regular", sans-serif;
  margin: 0;
  padding: 0;
  color: #ddd0bd;
  height: 100%;
  position: relative;
}

.content {
  padding: 10px; /* Отступы по бокам */
  display: flex;
  flex-direction: column;
  font-weight: 100;
}

.container {
  margin: 100px auto 100px;
  padding: 20px;
  max-width: 800px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Вертикально центрирует содержимое */
  align-items: center;
  backdrop-filter: blur(10px); /* Добавляет размытие заднего плана */
  -webkit-backdrop-filter: blur(10px); /* Для поддержки WebKit браузеров */
}

h1 {
  font-size: 56px;
  margin-bottom: 30px;
  color: #aac5d8;
  line-height: 1.4;
  font-weight: 100;
  -webkit-text-stroke: 1px #d3aa58;
  filter: drop-shadow(1px 1px 0 #d3aa58);
  font-family: "Comfortaa-SemiBold";
}

.logo {
  margin: 0 auto;
}

.features {
  margin-bottom: 40px;
}

.feature-item {
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 1.6;
  color: #aac5d8;
}

.cta-button {
  display: inline-block;
  padding: 15px 40px;
  background-color: #ddd0bd;
  color: #383838;
  text-decoration: none;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s;
  border: 2px solid #d3aa58;
  cursor: pointer;
  max-width: 300px;
  transition: all 0.2s linear;
}

.cta-button--guest {
  margin: 0 auto;
}

.cta-button--guest:hover {
  transform: scale(1.2);
}

.fixed-image {
  position: fixed; /* Фиксированное позиционирование */
  top: 0; /* Прижимаем к верхнему краю */
  left: 50%; /* Центрирование по горизонтали */
  transform: translateX(-50%); /* Точное выравнивание по центру */
  z-index: 1000; /* Убедитесь, что изображение поверх других элементов */
  width: 20%; /* Защита от переполнения */
}
